* {
  box-sizing: border-box;
}

:root {
  --cell-size: 90px;
  --cell-padding: 4px;
  --board-size: 4;
  --board-width: calc(var(--board-size) * var(--cell-size) + (2 * (var(--board-size) + 1)) * var(--cell-padding));
  --app-padding: 16px;
  --app-width: calc(var(--board-width) + 2 * var(--app-padding));
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.app {
  max-width: var(--app-width);
  padding: var(--app-padding);
}

.commands {
  display: flex;
  justify-content: flex-end;
  margin: 8px 0;
}

.command-button {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-weight: 500;
  border: 5px solid #776e65;
  border-radius: 8px;
  padding: 5px;
  background-color: #776e65;
  color: #eee4da;
  transition-duration: 0.4s;
  font-size: 14px;
  width: 102px;
}

.command-button:hover {
  background-color: #eee4da;
  color: #776e65;
}

.board {
  border-radius: 8px;
  background-color: #776e65;
  padding: var(--cell-padding);
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.board-cell {
  padding: var(--cell-padding);
}

.board-cell-content {
  border-radius: 8px;
  color: #f9f6f2;
  background-color: #edc22e;
  min-width: var(--cell-size);
  min-height: var(--cell-size);
  width: var(--cell-size);
  height: var(--cell-size);
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell-0 {
  background-color: #eee4da;
}

.cell-2 {
  color: #776e65;
  background-color: #eee4da;
  font-size: 48px;
}

.cell-4 {
  color: #776e65;
  background-color: #eee1c9;
  font-size: 48px;
}

.cell-8 {
  background-color: #f3b27a;
  font-size: 48px;
}

.cell-16 {
  background-color: #f69664;
  font-size: 48px;
}

.cell-32 {
  background-color: #f77c5f;
  font-size: 48px;
}

.cell-64 {
  background-color: #f75f3b;
  font-size: 48px;
}

.cell-128 {
  background-color: #edd073;
  font-size: 36px;
}

.cell-256 {
  background-color: #edcc62;
  font-size: 36px;
}

.cell-512 {
  background-color: #edc950;
  font-size: 36px;
}

.cell-1024 {
  background-color: #edc53f;
}

.cell-2048 {
  background-color: #edc22e;
}